# Tuples

A *tuple* is an **immutable sequence** (= ordered collection) of **arbitrary objects** and defined (syntactically) as a **comma-seperated list** of these objects. The objects are also referred to as **elements** or **items**.

In [1]:
numbers = 1, 2, 3, 4, 5

In [2]:
numbers

(1, 2, 3, 4, 5)

By convention, most Pythonistas would write out the optional parenthesis when defining a tuple.

In [3]:
numbers = (1, 2, 3, 4, 5)

In [4]:
numbers

(1, 2, 3, 4, 5)

As before, tuples are objects on their own.

In [5]:
id(numbers)

139726701819160

In [6]:
type(numbers)

tuple

While we can use empty parenthesis `()` to create an empty tuple ...

In [7]:
empty_tuple = ()

In [8]:
type(empty_tuple)

tuple

... we have to use a trailing comma to create a tuple with one element. If we forget the comma, the parenthesis are interpreted as a grouping operator.

In [9]:
one_tuple = (1,)

In [10]:
type(one_tuple)

tuple

In [11]:
no_one_tuple = (1)

In [12]:
type(no_one_tuple)

int

## Tuples are like Lists without Mutability

Most operations work exactly the same with tuples as with lists. The major difference is that tuples are immutable. Therefore, it makes sense to consider using tuples instead of lists to avoid situations where a possibly changed state of a variable (i.e., a list object) could result in bugs that are hard to track.

They behave like sequences.

In [13]:
len(numbers)

5

In [14]:
for number in numbers:
    print(f"{number} -> {number ** 2}")

1 -> 1
2 -> 4
3 -> 9
4 -> 16
5 -> 25

`in` tells us if an object is in the tuple (again, this uses the `==` operator behind the scenes and does a full and slow linear search).

In [15]:
0 in numbers

False

In [16]:
1 in numbers

True

In [17]:
1.0 in numbers

True

We can index and slice with the `[...]` operator. For indexing, we must provide an index in the range.

In [18]:
numbers[0]

1

In [19]:
numbers[-1]

5

In [20]:
numbers[5]

IndexError: tuple index out of range

In [21]:
numbers[3:]

(4, 5)

However, assignment does *not* work.

In [22]:
numbers[4] = 99

TypeError: 'tuple' object does not support item assignment

If we really need to modify a tuple's element, we have to create a new tuple.

In [23]:
new_numbers = numbers[:-1] + (99,)

In [24]:
new_numbers

(1, 2, 3, 4, 99)

The relational operators compare element by element.

In [25]:
numbers < new_numbers

True

### Tuples as Function Arguments

To avoid the difficulties when passing a list object to a function as an argument, we should really think if we need a list in the first place or could revert to using a tuple. As tuples are not mutable, a function call will never have a "weird" side effect a callee can see.

## Tuple Assignment

When we need to assign several variables, we can have a tuple of variables on the left-hand side of an assignment statement and a corresponding tuple of expressions on the right-hand side. This is particularly useful if we need to *swap* two variables.

In [26]:
a = 1
b = 2

We could swap the variables using a temporary variable.

In [27]:
temp = a
a = b
b = temp

a, b

(2, 1)

A tuple assignment is the more elegant way of doing that (and actually a tiny bit faster as well).

In [28]:
a, b = b, a

a, b

(1, 2)

Observe that all the expressions on the right-hand side are evaluated first before any assignment takes place.

For example, in the looping version of the `fibonacci` function, we could have just written this.

In [29]:
a, b = b, a + b

a, b

(2, 3)

A variant of this is **tuple unpacking** using the `*` operator where we collect the elements of a sequence object into seperate variables.

For example, let's get the first and last element of the `numbers` tuple.

In [30]:
first, *middle, last = numbers

In [31]:
first

1

In [32]:
middle

[2, 3, 4]

In [33]:
last

5

If we do not need the middle elements, we could shorten this with the underscore "\_" convention.

In [34]:
first, *_, last = numbers

first, last

(1, 5)

Tuple assignment can also be used within a `for` loop. We have seen this before with the [enumerate()](https://docs.python.org/3/library/functions.html#enumerate) built-in function.

In [35]:
soccer_players = [
    ("Neuer", "Goalkeeper"),
    ("Müller", "Striker"),
    ("Boateng", "Defender"),
]

In [36]:
for player, position in soccer_players:
    print(f"{player} is a {position}")

Neuer is a Goalkeeper
Müller is a Striker
Boateng is a Defender

## Named Tuples

Often times, we use tuples to represent a simple collection of related values where each element in the tuple has a semantic meaning (i.e., a descriptive name).

For example, to represent points $(x, y)$ in the $x$-$y$-plane, we could use simple tuples.

In [37]:
current_position = (1, 3)

However, then we need to assume that the first element represents the $x$ and the second the $y$ coordinate. A good idea would then be to use `#` comments to mention the semantic meaning of each element somewhere in the code.

A better way is to create a custom data type. While this approach is covered in depth in the notebook on classes and objects, the `collections` module in the Standard Library provides a `namedtuple` function that creates custom data types similar in behavior to tuples. For a full reference, check the [documentation](https://docs.python.org/3/library/collections.html#collections.namedtuple).

In [38]:
from collections import namedtuple

The first argument is a string indicating the name of the data type (this could be different from the variable `Point` we use to refer to the new type), followed by a list of strings that give the descriptive names for each **attribute**. The order of the latter is the same as assumed in the plain `tuple` version above.

In [39]:
Point = namedtuple("Point", ["x", "y"])

`Point` is now a so-called **class** object (this is what it means if an object is of type `type`) that can be used as a **factory** to create new tuple-like objects of type `Point`.

In [40]:
id(Point)

52284888

In [41]:
type(Point)

type

When we create new tuple-like objects with the call operator `(...)`, we have to pass in the arguments in the exact order as specified.

In [42]:
current_position = Point(1, 3)

Named tuples have a somewhat nicer representation.

In [43]:
current_position

Point(x=1, y=3)

`current_position` is not a tuple any more but an object of type `Point`.

In [44]:
id(current_position)

139726700050112

In [45]:
type(current_position)

__main__.Point

We can use the dot operator `.` to access the defined attributes.

In [46]:
current_position.x

1

In [47]:
current_position.y

3

As before, we get an `AttributeError` if we try to access an undefined attribute.

In [48]:
current_position.z

AttributeError: 'Point' object has no attribute 'z'

`current_position` continues to work like a real tuple.

For example, we can index into or iterate over it.

In [49]:
current_position[0]

1

In [50]:
current_position[1]

3

In [51]:
for number in current_position:
    print(number)

1
3