# Tuples

A *tuple* is an **immutable sequence** (= ordered collection) of **arbitrary objects** and defined (syntactically) as a **comma-seperated list** of these objects. The objects are also referred to as **elements** or **items**.

In [1]:
numbers = 1, 2, 3, 4, 5

In [2]:
numbers

(1, 2, 3, 4, 5)

By convention, most Pythonistas would write out the optional parenthesis when defining a tuple.

In [3]:
numbers = (1, 2, 3, 4, 5)

In [4]:
numbers

(1, 2, 3, 4, 5)

As before, tuples are objects on their own.

In [5]:
id(numbers)

139880452190808

In [6]:
type(numbers)

tuple

While we can use empty parenthesis `()` to create an empty tuple ...

In [7]:
empty_tuple = ()

In [8]:
type(empty_tuple)

tuple

... we have to use a trailing comma to create a tuple with one element. If we forget the comma, the parenthesis are interpreted as a grouping operator.

In [9]:
one_tuple = (1,)

In [10]:
type(one_tuple)

tuple

In [11]:
no_one_tuple = (1)

In [12]:
type(no_one_tuple)

int

## Tuples are like Lists without Mutability

Most operations work exactly the same with tuples as with lists. The major difference is that tuples are immutable. Therefore, it makes sense to consider using tuples instead of lists to avoid situations where a possibly changed state of a variable (i.e., a list object) could result in bugs that are hard to track.

They behave like sequences.

In [13]:
len(numbers)

5

In [14]:
for number in numbers:
    print(f"{number} -> {number ** 2}")

1 -> 1
2 -> 4
3 -> 9
4 -> 16
5 -> 25

`in` tells us if an object is in the tuple (again, this uses the `==` operator behind the scenes and does a full and slow linear search).

In [15]:
0 in numbers

False

In [16]:
1 in numbers

True

In [17]:
1.0 in numbers

True

We can index and slice with the `[...]` operator. For indexing, we must provide an index in the range.

In [18]:
numbers[0]

1

In [19]:
numbers[-1]

5

In [20]:
numbers[5]

IndexError: tuple index out of range

In [21]:
numbers[3:]

(4, 5)

However, assignment does *not* work.

In [22]:
numbers[4] = 99

TypeError: 'tuple' object does not support item assignment

If we really need to modify a tuple's element, we have to create a new tuple.

In [23]:
new_numbers = numbers[:-1] + (99,)

In [24]:
new_numbers

(1, 2, 3, 4, 99)

The relational operators compare element by element.

In [25]:
numbers < new_numbers

True

### Tuples as Function Arguments

To avoid the difficulties when passing a list object to a function as an argument, we should really think if we need a list in the first place or could revert to using a tuple. As tuples are not mutable, a function call will never have a "weird" side effect a callee can see.

## Tuple Assignment

When we need to assign several variables, we can have a tuple of variables on the left-hand side of an assignment statement and a corresponding tuple of expressions on the right-hand side. This is particularly useful if we need to *swap* two variables.

In [26]:
a = 1
b = 2

We could swap the variables using a temporary variable.

In [27]:
temp = a
a = b
b = temp

a, b

(2, 1)

A tuple assignment is the more elegant way of doing that (and actually a tiny bit faster as well).

In [28]:
a, b = b, a

a, b

(1, 2)

Observe that all the expressions on the right-hand side are evaluated first before any assignment takes place.

For example, in the looping version of the `fibonacci` function, we could have just written this.

In [29]:
a, b = b, a + b

a, b

(2, 3)

A variant of this is **tuple unpacking** using the `*` operator where we collect the elements of a sequence object into seperate variables.

For example, let's get the first and last element of the `numbers` tuple.

In [30]:
first, *middle, last = numbers

In [31]:
first

1

In [32]:
middle

[2, 3, 4]

In [33]:
last

5

If we do not need the middle elements, we could shorten this with the underscore "\_" convention.

In [34]:
first, *_, last = numbers

first, last

(1, 5)

Tuple assignment can also be used within a `for` loop. We have seen this before with the [enumerate()](https://docs.python.org/3/library/functions.html#enumerate) built-in function.

In [35]:
soccer_players = [
    ("Neuer", "Goalkeeper"),
    ("Müller", "Striker"),
    ("Boateng", "Defender"),
]

In [36]:
for player, position in soccer_players:
    print(f"{player} is a {position}")

Neuer is a Goalkeeper
Müller is a Striker
Boateng is a Defender